.container {
    display: flex;
    align-items: center;
}

.container img {
    margin-right: 10px; /* Adjust the spacing as needed */
}

h1 {
    text-align: center;
    color: blue;
    font-size: 4em;
}

details {
    margin: 0 auto;
    width: 50%;
    border: 1px solid rgb(224, 31, 31);
    padding: 10px;
}

summary {
    font-size: 2em;
    font-weight: bold;
    color: rgb(235, 78, 78);
}
